{% extends "structures/base.html" %}

{% block content %}

<header>
    <nav>
        <a href="/proyectos"><h1>SAPU</h1></a>
        <ul>
            <li><a href="/usuarios"> <i class="fa fa-group fa-lg"></i> Usuarios </a></li>
            <li><a href="/proyectos"> <i class="fa fa-briefcase fa-lg"></i> Proyectos </a></li>
            <li><a href="/tipos-de-proyecto"> <i class="fa fa-tags fa-lg"></i> Tipos de Proyecto </a></li>
            <li><a href="/instituciones"> <i class="fa fa-phone fa-lg"></i> Contactos </a></li>
            <li><a href="/action-logout"> <i class="fa fa-sign-out fa-lg"></i> Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>

<div class="main-content">
    {% block main-content %}{% endblock %}
</div> <!--.main-content-->

{% endblock %}

