<!DOCTYPE html>
<html>
    <head>

        {% load static %}
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Language" content="es" />

        <!-- CSS -->
        <!-- fonts -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.3/css/jquery.dataTables.min.css" type="text/css" media="screen" charset="utf-8">
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}css/app.css" rel='stylesheet' type='text/css'>

        {% block css %}{% endblock %}

        <!-- JS -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
        {% block js_header %}{% endblock %}

    </head>
    <body>

        {% block content %}{% endblock %}

        <div class="modals">
            <div id="modal" class="reveal-modal" data-reveal></div>
            {% block modals %}{% endblock %}
        </div>

        <!-- JS -->

        {% block js_footer %}{% endblock %}
    </body>
</html>