Django==1.7.1
MySQL-python==1.2.5
Pillow==2.1.0
django-grappelli==2.6.3
py-bcrypt==0.4
pytz==2014.9
-e git://github.com/dwaiter/django-bcrypt.git@913d86b2ba71334fd54670c6f0050bec02689654#egg=django_bcrypt-master