/* General Styles
=================*/
body,
html {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/back.png');
}

h1 {
    font-size: 3.5em;
}

h2 {
    margin-top: 10px;
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: 700;
}

.messages {
    list-style-type: none;
    padding: 0;
}

.messages li,
.form-error,
.message {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    width: 50%;
    margin: 10px auto;
    font-size: 17px;
    border-radius: 5px;
}

.messages .error {
    background-color: #d9534f;
}

.messages .warning {
    background-color: #f0ad4e;
}

.messages .success {
    background-color: #5cb85c;
}

.main-content {
    max-width: 1080px;
    padding-top: 100px;
    margin: 0 auto 100px auto;
}

/* Header Styles
===============*/

header {
    background-color: #333333;
    width: 100%;
    position: fixed;
    color: #FFFFFF;
    z-index: 99999;
}

nav h1 {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}

nav ul {
    float: right;
    display: inline-block;
    padding-top: 11px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    text-align: right;
    padding: 10px;
    margin-right: 20px;
    font-size: 20px;
}

nav i {
    margin-right: 7px;
}

nav a {
    color: #FFFFFF;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

nav a:hover {
    color: #CCCCCC;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

/* Login Styles
===============*/

.login {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.login h1 {
    margin-bottom: 30px;
}

.login form input {
    font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	display: block;
	width: 50%;
	padding: 15px 25px;
	margin: 17px auto;
	text-align: center;
	border-radius: 5px;
    border-width: 1px;
	box-shadow: none;
	border-style: solid;
    border-color: #333333;
}

.login button {
    font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	display: block;
	width: 25%;
	padding: 15px 25px;
	margin: 17px auto;
	text-align: center;
	border-radius: 5px;
	box-shadow: none;
    background-color: #FFFFFF;
    border-width: 1px;
	border-style: solid;
    border-color: #333333;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.login button:hover {
    background-color: #5BC0DE;
    color: #FFFFFF;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}


/* Projects Styles
=================*/

.project-table img {
    max-width: 200px;
}

.project-table tr td:first-of-type {
    border-left-style: solid;
    border-left-width: 12px;
}

.project-table tr.tiempo td:first-of-type {
    border-left-color: #5BC0DE;
}

.project-table tr.Retrasado td:first-of-type {
    border-left-color: #F2AD4E;
}

.project-table tr.Cancelado td:first-of-type {
    border-left-color: #999999;
}

.project-table tr.Terminado td:first-of-type {
    border-left-color: #5CB85C;
}

.pagination-outer {
    max-width: 1080px;
    text-align: center;
}

.pagination-inner {
    margin: 0 37%;
    text-align: center;
}

.pagination-inner a {
    color: #333333;
}

.pagination-inner p {
    font-size: 1.5em;
    display: inline-block;
    padding: 0 20px;
}

/* Stage Detail Styles
====================*/

.stage-info,
.stage-assignees,
.stage-dashboard {
    border-style: solid;
    border-width: 1px;
    border-color: #929495;
    border-radius: 2px;
    background-color: #F9F9F9;
    margin: 50px auto 0 auto;
}

.stage-info.tiempo {
    border-left-width: 12px;
    border-left-color: #5BC0DE;
}

.stage-info.Retrasado {
    border-left-width: 12px;
    border-left-color: #F2AD4E;
}

.stage-info.Cancelado {
    border-left-width: 12px;
    border-left-color: #999999;
}

.stage-info.Terminado {
    border-left-width: 12px;
    border-left-color: #5CB85C;
}

.stage-info-inner,
.stage-assignees-inner,
.stage-dashboard-inner {
    padding: 15px;
}

.stage-info-inner * {
    margin-bottom: 15px;
}

.stage-assignee {
    width: 25%;
    display: inline-block;
}

.stage-assignee img {
    width: 80%;
}

.stage-dashboard {
    margin-bottom: 50px;
}

.stage-dashboard h2 {
    margin-bottom: 50px;
}

.task-employee img,
.comment-employee img {
    width: 60%;
}

.task-info i {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 63px;
    margin-right: 4%;
}

.task-info i:hover {
    cursor: pointer;
}

.task-info-data {
    display: inline-block;
}

/*Project Types styles*/

.pt-info {
    width: 330px;
    height: 230px;
}

.title-band {
    background-color: #E6E6E6;
}

.pt-info,
.stage-assignees,
.stage-dashboard {
    border-style: solid;
    border-width: 1px;
    border-color: #929495;
    border-radius: 2px;
    background-color: #F9F9F9;
    margin: 30px 15px 0 15px;
}

.pt-info.tiempo {
    border-left-width: 12px;
    border-left-color: #5BC0DE;
}

.pt-info.Retrasado {
    border-left-width: 12px;
    border-left-color: #F2AD4E;
}

.pt-info.Cancelado {
    border-left-width: 12px;
    border-left-color: #999999;
}

.pt-info.Terminado {
    border-left-width: 12px;
    border-left-color: #5CB85C;
}

.pt-info-inner,
.stage-assignees-inner,
.stage-dashboard-inner {
    padding: 15px;
}

.pt-info-inner * {
    margin-bottom: 15px;
}

/*Stages styles*/

.stage-info-project,
.stage-assignees,
.stage-dashboard {
    border-style: solid;
    border-width: 1px;
    border-color: #929495;
    border-radius: 2px;
    background-color: #F9F9F9;
    margin: 50px auto 0 auto;
}

.stage-info-project.tiempo {
    border-left-width: 12px;
    border-left-color: #5BC0DE;
}

.stage-info-project.Retrasado {
    border-left-width: 12px;
    border-left-color: #F2AD4E;
}

.stage-info-project.Cancelado {
    border-left-width: 12px;
    border-left-color: #999999;
}

.stage-info-project.Terminado {
    border-left-width: 12px;
    border-left-color: #5CB85C;
}

.stage-info-project img {
    display: inline-block;
    margin: 20px;
}

.stage-info-project-inner,
.stage-assignees-inner,
.stage-dashboard-inner {
    padding: 15px;
}

.stage-info-project-inner {
    display: inline-block;
}

.stage-info-project-inner * {
    margin-bottom: 15px;
}

.stg-info,
.permission-info {
    border-style: solid;
    border-width: 1px;
    border-color: #929495;
    border-radius: 2px;
    background-color: #F9F9F9;
    margin: 50px 10px 0 10px;
    width: 30%;
}

.stg-info-project.tiempo {
    border-left-width: 12px;
    border-left-color: #5BC0DE;
}

.stg-info-project.Retrasado {
    border-left-width: 12px;
    border-left-color: #F2AD4E;
}

.stg-info-project.Cancelado {
    border-left-width: 12px;
    border-left-color: #999999;
}

.stg-info-project.Terminado {
    border-left-width: 12px;
    border-left-color: #5CB85C;
}

.stage-assignees,
.stage-dashboard {
    border-style: solid;
    border-width: 1px;
    border-color: #929495;
    border-radius: 2px;
    background-color: #F9F9F9;
    margin: 50px 10px 0 10px;
}

.stg-info.tiempo {
    border-left-width: 12px;
    border-left-color: #5BC0DE;
}

.stg-info.Retrasado {
    border-left-width: 12px;
    border-left-color: #F2AD4E;
}

.stg-info.Cancelado {
    border-left-width: 12px;
    border-left-color: #999999;
}

.stg-info.Terminado {
    border-left-width: 12px;
    border-left-color: #5CB85C;
}

.stg-info-inner,
.stage-assignees-inner,
.stage-dashboard-inner {
    padding: 15px;
}

.stg-info-inner {
    display: inline-block;
}

.stg-info-inner * {
    margin-bottom: 15px;
}

.permissions-title {
    margin-top: 30px;
}


/*Institutions styles*/

.institution-name {
    display: inline-block;
}

.institution-isclient {
    display: inline-block;
    text-align: center;
}

#panel-heading {
    overflow: auto;
}

.institution-table-head {
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
}

/* Users Styles
=============== */
.modal-footer {
    width: 200px;
    margin-left: 130px;
}

.modal-title {
    text-align: center;
}

.modal-field h6 {
    text-align: center;
}

#id_employee-photo {
    margin-top: 20px;
    margin-bottom: 20px;
}

input, textarea, select2-container {
    display: block;
    margin: 0 auto;
}

.fancybox-inner {
    overflow-x: hidden !important;
}

#id_name {
    display: block;
    float: left;
}

.modal-summon {
    display: inline-block;
    margin: 10px 12px 0 0;
    float: left;
}

.modal-delete-summon {
    display: inline-block;
    margin: 10px 12px 0 0;
    float: right;
}

.stg-info-inner .modal-delete-summon,
.pt-info-inner .modal-delete-summon,
.pt-info-inner .modal-summon{
    float: left;
    margin-bottom: 15px;
}

td:nth-child(4) .modal-delete-summon {
    float: left;
}

#id_institution-is_client, #s2id_id_user-groups {
    margin: 0 auto;
}

#list-content {
    margin-top: 60px;
}

div.row:nth-child(4) {
    margin-top: 60px;
}

div.row:nth-child(9) {
    margin-top: 60px;
}

a .fa-upload, a .fa-pencil, a .fa-trash-o {
    color: #333333;
}

#id_name, .projects-container > form:nth-child(2) > div:nth-child(1) > button:nth-child(3) {
    margin-top: 10px;
}

.fa-check-circle-o, .fa-circle-o {
    margin-top: 10px;
}


.fancybox-overlay {
    z-index: 200 !important;
}

.form-error {
    background-color: #F78181;
}