/* General Styles
=================*/
body,
html {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/back.png');
}

.messages {
    list-style-type: none;
    padding: 0;
}

.messages li {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    width: 50%;
    margin: 10px auto;
    font-size: 17px;
    border-radius: 5px;
}

.messages .error {
    background-color: #d9534f;
}

.messages .warning {
    background-color: #f0ad4e;
}

.messages .success {
    background-color: #5cb85c;
}

/* Login Styles
===============*/

.login {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.login h1 {
    margin-bottom: 50px;
}

.login form input {
    font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	display: block;
	width: 50%;
	padding: 15px 25px;
	margin: 17px auto;
	text-align: center;
	border-radius: 5px;
	box-shadow: none;
	border-style: solid;
    border-color: #333333;
}

.login button {
    font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	display: block;
	width: 25%;
	padding: 15px 25px;
	margin: 17px auto;
	text-align: center;
	border-radius: 5px;
	box-shadow: none;
    background-color: #FFFFFF;
	border-style: solid;
    border-color: #333333;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.login button:hover {
    background-color: #5BC0DE;
    color: #FFFFFF;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}


/* Projects Styles
=================*/

.project-table img {
    max-width: 200px;
}

.project-table tr td:first-of-type {
    border-left-style: solid;
    border-left-width: 7px;
}

.project-table tr.tiempo td:first-of-type {
    border-left-color: #5BC0DE;
}

.project-table tr.Retrasado td:first-of-type {
    border-left-color: #F2AD4E;
}

.project-table tr.Cancelado td:first-of-type {
    border-left-color: #999999;
}

.project-table tr.Terminado td:first-of-type {
    border-left-color: #5CB85C;
}

.pagination-outer {
    max-width: 1080px;
    text-align: center;
}

.pagination-inner {
    margin: 0 37%;
    text-align: center;
}

.pagination-inner a {
    color: #333333;
}

.pagination-inner p {
    font-size: 1.5em;
    display: inline-block;
    padding: 0 20px;
}