{% extends "structures/1column.html" %}

{% block title %}SAPU - Etapas{% endblock %}

{% block main-content %}

<div class="institutions-container content container">
    <h1>Instituciones</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

     <form action="{% url 'views.institutions_render_view' %}" method="POST">
        <div>
            {% csrf_token %}
            {{form_search_institution.name}}
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>

      <div class="row institution-table-head">
          <div class="col-md-6">
            <div>
                <div  class="col-md-6">
                    <div class="col-md-12 institution-info">
                        <div class ="col-md-6 institution-name">
                            Nombre
                        </div>
                        <div class="col-md-6 institution-isclient">
                            ¿La institución es cliente?
                        </div>
                    </div>
                </div>

            <div id="institution-collapse" class="col-md-6" >
                <div class="panel-body">
                    Información de contacto
                </div>
            </div>

          </div>
        </div>

        <div class="col-md-6">
            <div>
                <div  class="col-md-6">
                    <div class="col-md-12 institution-info">
                        <div class ="col-md-6 institution-name">
                            Nombre
                        </div>
                        <div class="col-md-6 institution-isclient">
                            ¿La institución es cliente?
                        </div>
                    </div>
                </div>

            <div id="institution-collapse" class="col-md-6" >
                <div class="panel-body">
                    Información de contacto
                </div>
            </div>

          </div>
        </div>
      </div>

      {% for institution in institutions %}
      <div class="col-md-6" id="accordion"> <!--class="panel-group"-->
        <div class="panel panel-default">
            <div  class="col-md-6" id="panel-heading"> <!--class="panel-heading"-->
                <div id="institution-info" class="col-md-12">
                    <div class ="col-md-6 institution-name">
                        {{ institution.name }}
                    </div>
                    <div class="col-md-6 institution-isclient">
                        {% if institution.is_client %}
                            <i class="fa fa-check-circle-o fa-2x"></i>
                        {% else %}
                            <i class="fa fa-circle-o fa-2x"></i>
                        {% endif %}
                    </div>
                </div>
            </div>

        <div id="institution-collapse" class="col-md-6" >
            <div class="panel-body">
                <div class="contact-info">
                      <div class="contact-name">
                        {{ institution.contact_point }}
                      </div>
                      <div class="contact-phone">
                        {{ institution.phone }}
                      </div>
                      <div class="contact_address">
                        {{ institution.address}}
                      </div>
                      <div class="contact_email">
                        {{ institution.email }}
                      </div>
                      <a href=""><i class="fa fa-pencil"></i></a>
                      <a href="#delete-institution" class="modal-delete-summon" id="{{ institution.id }}"><i class="fa fa-trash-o"></i></a>
                 </div>
            </div>
        </div>

      </div>
    </div>

    {% endfor %}

    {% if pagination %}
        <div class="pagination-outer row">
            <div class="pagination-inner col-md-4">
                {% if institutions.has_previous %}
                    <a href="?page={{ institutions.previous_page_number }}">
                        <i class="fa fa-chevron-left fa-2x"></i>
                    </a>
                {% endif %}

                <p>
                    Página {{ institutions.number }} de {{ institutions.paginator.num_pages }}
                </p>

                {% if institutions.has_next %}
                    <a href="?page={{ institutions.next_page_number }}">
                        <i class="fa fa-chevron-right fa-2x"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
</div>

<div style="display:none">
    <div class="delete-modal" id="delete-institution">
        <h6>¿Estás seguro de querer eliminar esta institución?</h6>
        <a href="/delete/institution/" class="btn btn-danger">Eliminar</a>
    </div>
</div>



{% endblock %}