{% extends "structures/1column.html" %}

{% block title %}SAPU - Proyectos{% endblock %}

{% block main-content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="projects-container content container" id="projects-container">

    <div class="projects-header view-header">
        <h1>PROYECTOS</h1>
        {% if perms.sapu.add_project %}
        <a href="/modal/add/project" class="btn btn-info modal-summon">Agregar Proyecto</a>
        {% endif %}
        <input class="search-projects" placeholder="Buscar Proyectos" />
    </div>

    <div class="color-guide">
        <div class="color-in-time" id="filter-ontime">A tiempo</div>
        <div class="color-complete" id="filter-complete">Completado</div>
        <div class="color-late" id="filter-late">Retrasado</div>
        <div class="color-canceled" id="filter-cancelled">Cancelado</div>
        <div class="color-paused" id="filter-paused">Congelado</div>
    </div>

    <table class="table table-striped project-table">

        <thead>
            <th>Estado</th>
            <th>Fecha de Creación</th>
            <th class="sort" data-sort="table-name">Nombre</th>
            <th class="sort" data-sort="table-id">Código</th>
            <th class="sort" data-sort="table-type">Tipo de proyecto</th>
            <th class="sort" data-sort="table-description">Descripción</th>
            <th>Fecha Límite</th>
            <th>Foto</th>
            {% if perms.sapu.change_project %}
            <th>Acciones</th>
            {% endif %}
        </thead>

        <tbody class="list">

            {% for project in projects %}
                <tr class="{{ project.state.name }}">
                    <td class="table-state"> {{ project.state.name }}</td>
                    <td class="table-creation">{{ project.creation_date|date:"d/m/Y" }}</td>
                    <td class="table-name"><a href="/proyectos/proyecto/{{ project.id }}">{{ project.name }}</a></td>
                    <td class="table-id">{{ project.project_id }}</td>
                    <td class="table-type">{{ project.project_type.name }}</td>
                    <td class="table-description">{{ project.description }}</td>
                    <td class="table-deadline">{{ project.deadline|date:"d/m/Y" }}</td>
                    <td class="image-upload-container table-image">
                        <img src="{{ project.photo.url }}">
                        <a href="/modal/edit/project_photo/{{ project.id }}" class="modal-summon"><i class="fa fa-upload fa-2x" style="margin-right: 10px;"></i>Subir imagen</a>
                    </td>
                    {% if perms.sapu.change_project %}
                    <td id="editors" class="table-actions">
                        <a href="/modal/edit/project/{{ project.id }}" class="modal-summon"><i class="fa fa-pencil fa-2x"></i></a>
                        {% if perms.sapu.delete_project %}
                        <a href="#delete-project" class="modal-delete-summon" id="{{ project.id }}"><i class="fa fa-trash-o fa-2x"></i></a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor  %}

        </tbody>
    </table>

    <div class="list-pagination">
        <ul class="pagination"></ul>
    </div>

</div> <!-- .projects-container -->

<div style="display:none">
    <div class="delete-modal" id="delete-project">
        <h6>¿Estás seguro de querer eliminar este proyecto?</h6>
        <a href="#" class="radius btn btn-info cancel-action">Cancelar</a>
        <a href="/delete/project/" class="btn btn-danger submit-delete">Eliminar</a>
    </div>
</div>

{% endblock %}