{% extends "structures/1column.html" %}

{% block title %}SAPU - Detalle de Etapa{% endblock %}

{% block main-content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="stage-detail-container content container">

        <div class="stage-info {{ stage.state.name }}">
            <div class="stage-info-inner">
                <h2>{{ stage.number }} - {{ stage.name }}</h2>
                <h5> <i class="fa fa-clock-o fa-lg"></i> - {{ stage.deadline|date:"d/m/Y" }}</h5>
                <h6>Proyecto: {{ stage.project }}</h6>
                <p>{{ stage.description }}</p>
            </div>
        </div> <!-- .stage-info -->

        <div class="stage-assignees">

            <div class="stage-assignees-inner">
                <h2>Encargados de la etapa</h2>

                {% for employee in employees %}

                    <div class="stage-assignee">
                        <h4>{{ employee.user.first_name }}</h4>
                        <img src="{{ employee.photo.url }}">

                        {% for assignment in assignments %}
                            {% for each in employee.assignment_employee.all %}
                                {% if each == assignment and assignment.completed %}
                                    <i class="fa fa-circle fa-3x"></i>
                                    <i class="fa fa-check fa-2x"></i>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                    </div>

                {% endfor %}

            </div>

            {% if current_user_in_stage %}

                <form method="post" action="/proyectos/proyecto/{{ stage.project.id }}/etapa/{{ stage.id }}/">
                    {% csrf_token %}
                    {{ form_state_stage }}
                    <input type="submit" class="btn btn-info" value="Modificar Estado">
                </form>

            {% endif %}

        </div> <!-- .stage-assignees -->

        <div class="stage-dashboard">

            <div class="stage-dashboard-inner">

                <div class="stage-tasks">
                    <h2>Tareas</h2>
                    <a href="/modal/add/task/stage/{{ stage.id }}/" class="btn btn-info modal-summon">Agregar Tarea</a>
                    {% for task in tasks %}

                        <div class="stage-task row">

                            <div class="col-md-2 task-employee">
                                <img src="{{ task.employee.photo.url }}">
                                <p> {{ task.employee.user.first_name }} </p>
                            </div>

                            <div class="col-md-10 task-info">

                                {% if task.is_complete %}
                                    <a href="/check/{{ task.id }}"><i class="fa fa-check-square fa-2x check-click"></i></a>

                                {% else %}
                                    <a href="/check/{{ task.id }}"><i class="fa fa-square-o fa-2x check-click"></i></a>

                                {% endif %}

                                <div class="task-info-data">
                                    {% if task.is_complete %}
                                        <h5>{{ task.title }}</h5>
                                        <p>Fecha de finalización: {{ task.finished_date }}</p>

                                    {% else %}
                                        <h5>{{ task.title }}</h5>
                                        <p>Fecha límite: {{ task.deadline|date:"d/m/Y" }}</p>

                                    {% endif %}
                                    <a href="/modal/edit/task/{{ task.id }}/stage/{{ stage.id }}/" class="modal-summon"><i class="fa fa-pencil fa-2x"></i></a>
                                    <a href="#delete-task" class="modal-delete-summon" id="{{ task.id }}"><i class="fa fa-trash-o fa-2x"></i></a>
                                </div>

                            </div>

                        </div> <!-- .stage-task -->

                    {% endfor %}
                </div> <!-- .stage-tasks -->

            </div> <!-- .stage-dashboard-inner -->

        </div> <!-- .stage-dashboard -->

        <div class="stage-dashboard">
            <div class="stage-dashboard-inner">
                <div class="stage-comments">
                    <h2>Comentarios</h2>
                    <a href="/modal/add/comment/stage/{{ stage.id }}/" class="btn btn-info modal-summon">Agregar Comentario</a>
                    {% for comment in comments %}

                        <div class="stage-comment row">

                            <div class="col-md-2 comment-employee">
                                <!-- <a href="/static/user-detail.html"> </a>-->
                                <img src="{{ comment.employee.photo.url }}">
                                <p> {{ comment.employee.user.first_name }} </p>
                            </div>

                            <div class="col-md-10 comment-info">

                                <h5>{{ comment.title }}</h5>
                                <p>{{ comment.date }}</p>
                                <p>{{ comment.description }}</p>
                                <a href="/modal/edit/comment/{{ comment.id }}/stage/{{ stage.id }}/" class="modal-summon"><i class="fa fa-pencil fa-2x"></i></a>
                                <a href="#delete-comment" class="modal-delete-summon" id="{{ comment.id }}"><i class="fa fa-trash-o fa-2x"></i></a>
                            </div>

                        </div> <!-- .stage-comment -->

                    {% endfor %}
                </div> <!-- .stage-comments -->
            </div>

        </div>

    </div> <!-- .stage-detail -->

<div style="display:none">
    <div class="delete-modal" id="delete-task">
        <h6>¿Estás seguro de querer eliminar esta tarea?</h6>
        <a href="#" class="radius btn btn-info">Cancelar</a>
        <a href="/delete/task/" class="btn btn-danger submit-delete">Eliminar</a>
    </div>
</div>

<div style="display:none">
    <div class="delete-modal" id="delete-comment">
        <h6>¿Estás seguro de querer eliminar este comentario?</h6>
        <a href="#" class="radius btn btn-info">Cancelar</a>
        <a href="/delete/comment/" class="btn btn-danger submit-delete">Eliminar</a>
    </div>
</div>

{% endblock %}