{% extends "structures/1column.html" %}

{% block title %}SAPU - Etapas{% endblock %}

{% block main-content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="stage-detail-container content container">

        <h1>Proyecto: {{ project.name }}</h1>

        <div class="stage-info-project {{ project.state.name }}">
            <div class="row">
                <img class="project-detail-img col-md-3" src="{{ project.photo.url }}">
                <div class="stage-info-project-inner col-md-8">
                    <h3>{{ project.project_id }} - {{ project.name }}</h3>
                    <hr>
                    <h5> <i class="fa fa-clock-o fa-lg"></i> - {{ project.deadline|date:"d/m/Y" }}</h5>
                    <h6>Folio: {{ project.folio }} - Institución: {{ project.institution }}</h6>
                    <h6>Tipo de proyecto: {{ project.project_type.name }}</h6>
                    <p>{{ project.description }}</p>
                </div>
            </div>

            <form method="post" action="/proyectos/proyecto/{{ project.id }}/">
                {% csrf_token %}
                {{ form_state_project }}
                <input type="submit" class="btn btn-info" value="Modificar Estado">
            </form>

        </div>

        <div class="view-header permissions-header">
            <h2 class="permissions-title">Permisos</h2>
            <a href="/modal/add/permission/project/{{ project.id }}/" class="btn btn-info modal-summon">Agregar Permiso</a>
        </div>

        <div class="permission-container">
            {% for permission in permissions %}

                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row">
                {% endif %}

                <div class="col-md-4 permission-info">
                    <div class="stg-info-inner">
                        <h5>{{ permission.title }}</h5>
                        <hr>
                        <h6>Folio - {{ permission.folio }}</h6>
                        <h6>Institución - {{ permission.institution.name }}</h6>
                        <p>{{ permission.description }}</p>
                        <a href="/modal/edit/permission/{{ permission.id }}/project/{{ project.id }}/" class="modal-summon"><i class="fa fa-pencil fa-2x"></i></a>
                        <a href="#delete-permission" class="modal-delete-summon" id="{{ permission.id }}"><i class="fa fa-trash-o fa-2x"></i></a>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                {% endif %}

            {% endfor %}
        </div>

        <div class="view-header tasks-header">
            <h2 class="permissions-title">Etapas</h2>
            <a href="/modal/add/stage/project/{{ project.id }}/" class="btn btn-info modal-summon">Agregar Etapa</a>
        </div>

        <div class="stage-container">
            {% for stage in stages %}

                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row">
                {% endif %}

                <div class="col-md-4 stg-info {{ stage.name }} {{ stage.state.name }}">
                    <div class="stg-info-inner">
                        <a href="/proyectos/proyecto/{{ project.id }}/etapa/{{ stage.id }}">
                            <h5>{{ stage.number }} - {{ stage.name }}</h5>
                        </a>
                        <hr>
                        <h6> <i class="fa fa-clock-o fa-lg"></i> - {{ stage.deadline|date:"d/m/Y" }}</h6>
                        <p>{{ stage.description }}</p>
                        <a href="/modal/edit/stage/{{ stage.id }}/project/{{ project.id }}/" class="modal-summon"><i class="fa fa-pencil fa-2x"></i></a>
                        <a href="#delete-stage" class="modal-delete-summon" id="{{ stage.id }}"><i class="fa fa-trash-o fa-2x"></i></a>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                {% endif %}

            {% endfor %}
        </div>

    </div>

<div style="display:none">
    <div class="delete-modal" id="delete-stage">
        <h6>¿Estás seguro de querer eliminar esta etapa?</h6>
        <a href="#" class="radius btn btn-info">Cancelar</a>
        <a href="/delete/stage/" class="btn btn-danger submit-delete">Eliminar</a>
    </div>
</div>

<div style="display:none">
    <div class="delete-modal" id="delete-permission">
        <h6>¿Estás seguro de querer eliminar este permiso?</h6>
        <a href="#" class="radius btn btn-info">Cancelar</a>
        <a href="/delete/permission/" class="btn btn-danger submit-delete">Eliminar</a>
    </div>
</div>

{% endblock %}