{% extends "structures/1column.html" %}

{% block title %}SAPU - Proyectos{% endblock %}

{% block main-content %}

<div class="projects-outer">
    <div class="projects-inner content container">

            <h1>Usuarios</h1>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="{% url 'views.users_render_view' %}" method="POST">
                <div>
                    {% csrf_token %}
                    {{ form_search_employee.user.name }}
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>

            <table class="table table-striped project-table">

                <thead>
                    <th>Nombre</th>
                    <th>Correo-e</th>
                    <th>Foto</th>
                </thead>

            {% for employee in employees %}
                <tr class="{{ employee.user.name }}">
                    <td>{{ employee.user.name }}</td>
                    <td>{{ employee.user.email }}</td>
                    <td><img src="{{ project.photo.url }}"></td>
                </tr>
            {% endfor  %}

            </table>

            {% if pagination %}
                <div class="pagination-outer row">
                    <div class="pagination-inner col-md-4">
                        {% if employees.has_previous %}
                            <a href="?page={{ projects.previous_page_number }}">
                                <i class="fa fa-chevron-left fa-2x"></i>
                            </a>
                        {% endif %}

                        <p>
                            Página {{ employees.number }} de {{ employees.paginator.num_pages }}
                        </p>

                        {% if employees.has_next %}
                            <a href="?page={{ employees.next_page_number }}">
                                <i class="fa fa-chevron-right fa-2x"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

    </div> <!-- .projects-inner -->
</div> <!-- .projects-outer -->


{% endblock %}