{% extends "structures/1column.html" %}

{% block title %}SAPU - Proyectos{% endblock %}

{% block main-content %}

<div class="users-outer">
    <div class="users-inner content container">

            <h1>Usuarios</h1>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <table class="table table-striped project-table">

                <thead>
                    <th>Nombre</th>
                    <th>Correo-e</th>
                    <th>Foto</th>
                </thead>

            {% for employee in employees %}
                <tr class="{{ employee.user.name }}">
                    <td>{{ employee.user.name }}</td>
                    <td>{{ employee.user.email }}</td>
                    <td><img src="{{ project.photo.url }}"></td>
                </tr>
            {% endfor  %}

            </table>


    </div> <!-- .users-inner -->
</div> <!-- .users-outer -->


{% endblock %}