{% extends "structures/1column.html" %}

{% block title %}SAPU - Usuarios{% endblock %}

{% block main-content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="stage-detail-container content container">

        <div class="employee-header view-header">
            <h1>Usuarios</h1>
            <a href="/modal/add/employee" class="btn btn-info modal-summon">Agregar Usuario</a>
            <form method="post" action="/usuarios/">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Reiniciar sesión de usuarios</button>
            </form>
        </div>

        <div id="list-content">

            {% for employee in employees %}

                {% if forloop.counter0|divisibleby:2 %}
                    <div class="row">
                {% endif %}

                    <div class="col-md-6 pt-info user-info-outer {{ project_type.name }}">
                        <div class="pt-info-inner user-block">

                            <div class="image-upload-container">
                                <img src="{{ employee.photo.url }}">
                                <a href="/modal/edit/employee_photo/{{ employee.id }}" class="modal-summon"><i class="fa fa-upload fa-2x"></i>Subir imagen</a>
                            </div>

                            <div class="user-block-info">
                                <h5>{{ employee.user.first_name }}</h5>
                                <p>{{ employee.user.email }}</p>
                                <h6>¿Ha iniciado sesión?</h6>
                                {% if employee.logged %}
                                    <i class="fa fa-check fa-2x"></i>
                                {% endif %}
                                <a href="/modal/edit/employee/{{ employee.id }}" class="modal-summon"><i class="fa fa-pencil fa-2x"></i></a>
                                <a href="#delete-employee" class="modal-delete-summon" id="{{ employee.id }}"><i class="fa fa-trash-o fa-2x"></i></a>
                            </div>

                        </div>
                    </div>

                {% if forloop.counter|divisibleby:2 or forloop.last %}
                    </div>
                {% endif %}

            {% endfor %}

        </div> <!-- #list-content -->

    </div>

<div style="display:none">
    <div class="delete-modal" id="delete-project-type">
        <h6>¿Estás seguro de querer eliminar este usuario?</h6>
        <a href="#" onClick="parent.jQuery.fancybox.close();" class="radius btn btn-info">Cancelar</a>
        <a href="/delete/employee/" class="btn btn-danger submit-delete">Eliminar</a>
    </div>
</div>

{% endblock %}