<div class="sapu-modal">
    {% if modal.main_forms %}
            {% if element_index and project_id %}
                {% url 'sapu.views.generic_modal' modal_action=modal.action modal_element=modal.name element_index=element_index project_id=project_id as action_url %}
            {% elif element_index and stage_id %}
                {% url 'sapu.views.generic_modal' modal_action=modal.action modal_element=modal.name element_index=element_index stage_id=stage_id as action_url %}
            {% elif element_index %}
                {% url 'sapu.views.generic_modal' modal_action=modal.action modal_element=modal.name element_index=element_index as action_url %}
            {% elif project_id %}
                {% url 'sapu.views.generic_modal' modal_action=modal.action modal_element=modal.name project_id=project_id as action_url %}
            {% elif stage_id %}
                {% url 'sapu.views.generic_modal' modal_action=modal.action modal_element=modal.name stage_id=stage_id as action_url %}
            {% else %}
                {% url 'sapu.views.generic_modal' modal_action=modal.action modal_element=modal.name as action_url %}
            {% endif %}
        <form class="modal-form" method="post" action="{{ action_url }}" enctype="multipart/form-data">
        {% csrf_token %}
    {% endif %}

        <div class="sapu-modal-inner">
            <!-- Form Errors -->
            {% for modal_form in modal.main_forms %}
                {% for field in modal_form.form %}
                    {% for error in form.non_field_errors %}
                        <div class="form-error error">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {% for error in field.errors %}
                        <div class="form-error error">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            <!-- Messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} btn btn-info"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Forms -->
            {% if modal.main_forms %}
                {% for modal_form in modal.main_forms %}
                    <h4 class="modal-title">{{ modal_form.title }}</h4>
                    <p>{{ modal_form.description }}</p>
                    {% for hidden_field in modal_form.form.invisible_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    <hr>
                    {% for field in modal_form.form.visible_fields %}
                        <div class="modal-field">
                            {% if field.errors %}
                                <span class="field-error">
                            {% endif %}
                                <h6>{{ field.label }}</h6>
                                {{ field }}
                            {% if field.errors %}
                                </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="modal-footer">
                        {% if modal.cancel_button_text %}
                            <div class="col-md-6">
                                <a href="{{ modal.cancel_button_link }}" class="cancel-button">
                                    <button type="button" class="radius">
                                        {{ modal.cancel_button_text }}
                                    </button>
                                </a>
                            </div>

                        {% endif %}
                        {% if modal.accept_button_text %}
                            <div class="col-md-6">
                                <a href="{{ modal.accept_button_link }}" class="success-button">
                                    <button class="radius">
                                        {{ modal.accept_button_text }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% if modal.main_forms %}
        </form>
    {% endif %}
</div> <!-- .sapu-modal -->